<ion-pane ng-controller="contactController">
    <ion-content>
        <ion-list>
            <div class="wrap-container wrapflex">
                <div class="contact-title">
                    Interviewgully app is conceptualized by an expert team of professional,And aim to help you nail the basics and to reduce the hardship that many aspirants face while study/working in projects.
                    <br/>
                    Interviewgully help aspirants for Jobs/referral and HR Prepration.
                    <br/>
                    Interviewgully also provide campus training and workshop on demand.
                    <br/>
                </div>
                
                <div class="title underline">Technical Support :</div>
                <div class="contact-title" ng-click="btnQuery('Regarding: Technical Support','techsupport@interviewgully.com')">
                <i class="ion-email-unread"></i>
                techsupport@interviewgully.com</div>

                <div class="title underline">Jobs/referral :</div>
                <div class="contact-title" ng-click="btnQuery('Regarding: Jobs/referral Support','support@interviewgully.com')">
                <i class="ion-email-unread"></i>
                support@interviewgully.com</div>
                
                <div class="title underline">Campus Training / WorkShop :</div>
                <div class="contact-title" ng-click="btnQuery('Regarding: Campus Training / WorkShop','campusvisit@interviewgully.com')">
                <i class="ion-email-unread"></i>
                campusvisit@interviewgully.com</div>
                
                <div class="title underline">HR Prepration:</div>
                <div class="contact-title" ng-click="btnQuery('Regarding: HR Prepration','vijaylaxmi.singh@interviewgully.com')">
                <i class="ion-email-unread"></i>
                vijaylaxmi.singh@interviewgully.com</div>

                <br/><br/>

                <div class="title underline">Direct Communication:</div>
                <div class="contact-title">Skype:  <i class="ion-chatbubbles"></i> <a href="skype:brajeshyadav84?chat">brajeshyadav84</a></div>
                <div class="contact-title">Whatsapp: <i class="ion-chatbubbles"></i> <a href="intent://send/88765035#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">88765035</a></div>

                
            </div>
        </ion-list>
    </ion-content>
</ion-pane>