<ion-pane ng-controller="detailsController">
    <ion-content>
        <ion-list>
            <ul class="wrap-container wrapflex">
                <li class="layout-oneColumn layout-list-container" ng-repeat="data in DetailData">
                    <div class="list-thumbnail" ng-click="handleVideo(data.videoID, data.title)">
                        <div class="video-container">
                            hello<!-- <angular-youtube video="data.videoID"></angular-youtube> -->
                        </div>
                    </div>
                    <h2 class="title sub-container">{{data.title}}</h2>
                </li>
            </ul>
            
        </ion-list>
    </ion-content>
</ion-pane>