<ion-pane ng-controller="homeController">
    <ion-content>
        <ion-list>
            <div class="wrap-container wrapflex section-title">Video Tutorials</div>
            <ul class="wrap-container wrapflex">
                <li ng-class="{showSection: data.Status == 'true'}" class="layout-twoColumn layout-list-container hideSection" ng-repeat="data in listData">
                    <div class="list-thumbnail" ng-click="onClickTutorial(data.Id,data.Name,data.isEmailAvailable)">
                        <!-- {{data.Name | thumbNameDisplay}} -->
                        <img class="img-100" src="{{data.ImageUrl}}" alt=""/>
                    </div>
                    <!-- <div class="title sub-container ng-binding">
                      <div style="width:65%"></div>
                      <div style="width:35%;color: blue;" ng-click="onClickShare()"><i class="ion-android-share-alt" style="padding-right: 5px;"></i>Share</div>
                    </div> -->
                </li>
            </ul>
            <div class="wrap-container wrapflex section-title">e-Books</div>
            <ul class="wrap-container wrapflex">
                <li ng-class="{showSection: data.Status == 'true'}" class="layout-oneColumn layout-list-container hideSection" ng-repeat="data in ebookData">
                    <div class="onecolumn title">
                        {{data.Name}}
                    </div>
                    <div class="title sub-container ng-binding">
                      <div style="width:50%"></div>
                      <div style="width:25%;color: blue;text-align: center;" ng-click="onClickOpen(data.eUrl)"><i class="ion-document-text" style="padding-right: 5px;"></i>Open</div> |
                      <div style="width:25%;color: blue;text-align: center;" ng-click="onClickShare(data.eUrl)"><i class="ion-android-share-alt" style="padding-right: 5px;"></i>Share</div>
                    </div>
                </li>
            </ul>
            <br/><br/><br/>
            
        </ion-list>
    </ion-content>
    <div class="overallIconsDisplay" ng-style="isShow">
                <a ng-click="onClickShare('friends')"><div class="profileIcon iconCls"></div>
                <p class="txtIcon profileTxt">Share with Friends</p></a>
                
                <a ng-click="onClickForum()"><div class="discussionIcon iconCls"></div>
                <p class="txtIcon discussionTxt">Discussion Forum</p></a>

                <a ng-click="onClickContact()"> <div class="questionsIcon iconCls"></div>
                <p class="txtIcon questionsTxt">Contact Us</p></a>

                <div class="whiteIconOverlay"></div>
    </div>
    <div ng-click="onClickPromote()" ng-show="!isClickPromote" class="promotion-icon" style="background: url('img/promotionIcon.png') center center / 30px 21px no-repeat rgb(0, 114, 255);"></div>
    <div ng-click="onClickPromoteClose()" ng-show="isClickPromote" class="promotion-icon" style="background: url('img/promoteClose.png') center center / 20px 15px no-repeat rgb(0, 114, 255);"></div>


    <!-- The Modal -->
    <div id="myModal" class="modal" ng-show="isShowModal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" ng-click="onClickCloseModal()">&times;</span>
          <h2>&nbsp;</h2>
        </div>
        <div class="modal-body">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS8IHLq0XmNy2xm-vbTZgjjQW5f2KFsv5VxSoL4xTdvShi4gHiF2qXEsQ">
          <h3 style="text-transform: capitalize;" ng-bind-html="modalTitle | unsafe"></h3>
          <p ng-bind-html="modalDesc | unsafe"></p>
        </div>
        <div class="modal-footer">
          <button class="btn" ng-click="onClickShare('popup Message')">Share with Friends</button>
        </div>
      </div>

    </div>



</ion-pane>