<ion-pane ng-controller="homeController">
    <ion-content>
        <ion-list>
            <ul class="wrap-container wrapflex">
                <li ng-click="onClickTutorial(data.Id,data.Name)" class="layout-twoColumn layout-list-container" ng-repeat="data in listData">
                    <div class="list-thumbnail">
                        
                    </div>
                    <h2 class="title sub-container">{{data.Name}}</h2>
                </li>
            </ul>
            <div class="overallIconsDisplay" ng-style="isShow" >
                <a ng-click="onClickShare()"><div class="profileIcon iconCls"></div>
                <p class="txtIcon profileTxt">Share on facebook</p></a>

                <a ng-click="onClickContact()"> <div class="questionsIcon iconCls"></div>
                <p class="txtIcon questionsTxt">Contact Us</p></a>

                <div class="whiteIconOverlay"></div>
            </div>
            <div ng-click="onClickPromote()" ng-show="!isClickPromote" class="promotion-icon" style="background: url('../img/promotionIcon.png') center center / 30px 21px no-repeat rgb(0, 114, 255);"></div>
            <div ng-click="onClickPromoteClose()" ng-show="isClickPromote" class="promotion-icon" style="background: url('../img/promoteClose.png') center center / 20px 15px no-repeat rgb(0, 114, 255);"></div>
        </ion-list>
    </ion-content>
</ion-pane>